@model IEnumerable<INO_CRM_API.Models.TradeNoteModel>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor

@{
    ViewData["Title"] = "CompanyNotes";
}
@{string role = httpContextAccessor.HttpContext.Session.GetString("role");}

<h1>Trade notes</h1>

<p>
    @if (role == "Admin" || role == "Moderator")
    {
        <a asp-action="Create" asp-route-companyId="@ViewBag.companyId">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NoteId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                Added by user
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NoteId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Login)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDeleted)
                </td>
                <td>
                    @if (role == "Admin" || role == "Moderator")
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.NoteId });@:| 
                    }
                    @Html.ActionLink("Details", "Details", new { id = item.NoteId })
                    @if (role == "Admin")
                    {
                        @:| 
                        @Html.ActionLink("Delete", "Delete", new { id = item.NoteId });
                    }                    
                </td>
            </tr>
        }
    </tbody>
</table>
